I&#39;m trying to log into trac to update this bug, but I get stuck in a redirect loop.  (Firefox 3, Ubuntu 8.06).<br><br>Anyway, I had rebuilt with +DEBUG, and when I did, I also brought in the latest and greatest S/Lang.  (I believe when I had built it the first time, I had intended to include that library but failed.)  I have not seen the crash since.  I just checked my build information against what I had provided then and this shows the difference:<br>
<br>- System: Linux 2.6.9-55.3.EL (i686)<br>- slang: 10409<br>+System: Linux 2.6.9-67.0.4.EL (i686)<br>+slang: 20102<br><br>(Yes, I&#39;m still running RHEL WS 4 on that machine--I don&#39;t control it--but it&#39;s seen a kernel upgrade.)<br>
<br>I think it&#39;s safe to close this ticket.<br><br><br><div class="gmail_quote">On Mon, Jun 8, 2009 at 10:01 PM, Mutt <span dir="ltr">&lt;<a href="mailto:fleas@mutt.org">fleas@mutt.org</a>&gt;</span> wrote:<br><blockquote class="gmail_quote" style="border-left: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 0pt 0.8ex; padding-left: 1ex;">
<div class="im">#2959: Segfault when resizing screen<br>
</div>----------------------+-----------------------------------------------------<br>
  Reporter:  intvnut  |       Owner:  mutt-dev<br>
      Type:  defect   |      Status:  infoneeded_new<br>
  Priority:  major    |   Milestone:<br>
 Component:  mutt     |     Version:<br>
Resolution:           |    Keywords:<br>
----------------------+-----------------------------------------------------<br>
Changes (by brendan):<br>
<br>
  * status:  new =&gt; infoneeded_new<br>
<font color="#888888"><br>
<br>
--<br>
Ticket URL: &lt;<a href="http://dev.mutt.org/trac/ticket/2959#comment:3" target="_blank">http://dev.mutt.org/trac/ticket/2959#comment:3</a>&gt;<br>
Mutt &lt;<a href="http://www.mutt.org/" target="_blank">http://www.mutt.org/</a>&gt;<br>
The Mutt mail user agent<br>
<br>
</font></blockquote></div><br><br clear="all"><br>-- <br>We sell spatulas, and that&#39;s all!<br><a href="http://spatula-city.org/~im14u2c/">http://spatula-city.org/~im14u2c/</a><br><a href="http://spacepatrol.info/">http://spacepatrol.info/</a><br>

